<!-- NG-ZORRO -->

<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank"
  style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img class="ng-zorro-antd" height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a>

<div nz-row *ngFor="let i of numbers">
  <h1 nz-col nzSpan="6" nzAlign="center">dsdsd</h1>
  <h1 nz-col nzSpan="6" nzAlign="center">Hello StoryBook</h1>
  <h1 nz-col nzSpan="6" nzAlign="center">dsdsds</h1>
</div>
